<form action="/create_stock_from_portfolio" method="post">

  <input type="hidden" name="portfolio_id" value="<%= @portfolio.id %>">

  <div class="form-group">
    <label for="stock_tickr">
      Stock tickr
    </label>

    <input type="text" id="stock_tickr" name="stock_tickr" class="form-control" value="<%= @stock.stock_tickr %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create stock
  </button>
</form>
