<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Stocks

    <a data-toggle="collapse" href="#portfolio_stocks_new_form">
      Add stock
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @portfolio.stocks.each do |stock| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/stocks/<%= stock.id %>">
          <%= stock.portfolio_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_stock_from_portfolio/<%= stock.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="portfolio_stocks_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
