<form action="/create_comment_from_portfolio" method="post">

  <div class="form-group">
    <label for="commenter_id">
      Commenter
    </label>

    <%= select_tag(:commenter_id, options_from_collection_for_select(Expert.all, :id, :email, @comment.commenter_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="portfolio_id" value="<%= @portfolio.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create comment
  </button>
</form>
