<h1>
  Edit portfolio #<%= @portfolio.id %>
</h1>

<hr>

<!-- Form portfolio start -->
<form action="/update_portfolio/<%= @portfolio.id %>" method="post">
<!-- Form portfolio end -->

  <!-- Label and input for stock_name start -->
  <div class="form-group">
    <label for="stock_name">
      Stock name
    </label>

    <!-- Input for stock_name start -->
    <input type="text" id="stock_name" name="stock_name" class="form-control" value="<%= @portfolio.stock_name %>">
    <!-- Input for stock_name end -->
  </div>
  <!-- Label and input for stock_name end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @portfolio.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update portfolio
  </button>
</form>

<hr>

<a href="/portfolios">
  Go back
</a>
