<form action="/create_upvote_from_stock" method="post">

  <input type="hidden" name="stock_id" value="<%= @stock.id %>">

  <div class="form-group">
    <label for="expert_id">
      Expert
    </label>

    <%= select_tag(:expert_id, options_from_collection_for_select(Expert.all, :id, :email, @upvote.expert_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create upvote
  </button>
</form>
