<!-- Validation failure messages -->
<% if @stock.present? %>
  <% if @stock.errors.any? %>
    <% @stock.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new stock
</h1>


<hr>

<!-- Form stock start -->
<form action="/create_stock" method="post">
<!-- Form stock end -->

  <!-- Label and input for portfolio_id start -->
  <div class="form-group">
    <label for="portfolio_id">
      Portfolio
    </label>

    <!-- Input for portfolio_id start -->
    <input type="text" id="portfolio_id" name="portfolio_id" class="form-control" value="<%= @stock.portfolio_id %>">
    <!-- Input for portfolio_id end -->
  </div>
  <!-- Label and input for portfolio_id end -->

  <!-- Label and input for stock_tickr start -->
  <div class="form-group">
    <label for="stock_tickr">
      Stock tickr
    </label>

    <!-- Input for stock_tickr start -->
    <input type="text" id="stock_tickr" name="stock_tickr" class="form-control" value="<%= @stock.stock_tickr %>">
    <!-- Input for stock_tickr end -->
  </div>
  <!-- Label and input for stock_tickr end -->

  <button class="btn btn-block btn-outline-secondary">
    Create stock
  </button>
</form>

<hr>

<a href="/stocks">
  Go back
</a>
